/* Estilo para la tarjeta */
.card {
    box-shadow: 1px 1px 5px rgba(27, 92, 63, 0.3); /* Sombras sutiles por defecto */
    border-color: #1b5c3f1e;
    transition: box-shadow 0.3s; /* Transición suave de la sombra */
    background-color: rgba(255, 255, 255, 0.75);
}

/* Estilo para la tarjeta al pasar el ratón por encima */
.card:hover {
    box-shadow: 10px 10px 20px -10px rgba(27, 92, 63, 1); /* Sombras más pronunciadas */
}

/* Estilo para el título de la tarjeta */
.card-title {
    font-weight: bold;  /* Texto en negrita */
}


.card-img-top {
    width: 100%; /* Ancho de la imagen al 100% del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
}
.card-datetime{
    font-size: 9px;
    color: gray;
}