.stars {
  display: flex;
  justify-content: flex-end;
  direction: rtl; /* Para invertir el orden de las estrellas */
  font-size: 24px;
}

.stars input[type="radio"] {
  display: none; /* Para ocultar los botones de radio */
}

.stars label {
  color: gray; /* Color de las estrellas no seleccionadas */
}

.stars input[type="radio"]:checked ~ label {
  color: gold; /* Color de las estrellas seleccionadas y las previas a la seleccionada */
}
.card-stars{
  width: 50rem !important
}
textarea{
  resize: none;
}